body{
    background-color: hsl(233, 47%, 7%);
    font-size: 15px;
    align-items: center;
}
.principal{
    margin-top: 7%;
 
}
.container{
    display: flex;
    flex-direction: row;
    margin: auto;
    padding-left: 2%;
}
.imagem{
    float: right;
    background: hsl(277, 64%, 61%);
    border-radius: 0px 10px 10px 0px;
}
#imgDesktop{
    display: block;
}
#imgMobile{
    display: none;
}

img{
    width: 100%;
    height: 100%;
    filter: opacity(0.6);
    border-radius: 0px 10px 10px 0px;
}

.card{
    margin: auto;
    background-color: hsl(244, 38%, 16%);
    color: hsl(0, 0%, 100%);
    transition: 0.3s;
    width: 50%;
    height: 50%;
    border-radius: 10px;
}
.texto{
    color:  hsla(0, 0%, 100%, 0.75);
    float: left;
    width: 50%;
    padding-top: 5%;
    padding-bottom: 3%;
    padding-right: 5%;
    padding-left: 3%;
}

.texto>.dados{
    display: flex;
    flex-direction: row;
}
.texto>.dados > span{
    color:  hsla(0, 0%, 100%, 0.6);
}
h1{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
}
h2{
    color: hsl(0, 0%, 100%);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 700;
}
section{
    padding: 5%;
    text-align: center;
}
section > span{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.6);
}
p{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color:hsla(0, 0%, 100%, 0.75);
}



@media all and (max-width: 800px) {
    .container{
        display: flex;
        flex-direction: column;
        margin-left: -5px;
    }
    #imgDesktop {display: none;}
    #imgMobile {display: block;}

    .imagem{
        background: hsl(277, 64%, 61%);
        border-radius: 10px 10px 10px 10px;
    }

    img{
        width: 100%;
        height: 100%;
        filter: opacity(0.6);
        border-radius: 10px 10px 10px 10px;
    }

    .card{
        background-color: hsl(244, 38%, 16%);
        color: hsl(0, 0%, 100%);
        transition: 0.3s;
        width: 50%;
        height: 50%;
        border-radius: 10px;
    }
    .texto{
        color:  hsla(0, 0%, 100%, 0.75);
        width: 50%;
        padding-top: 5%;
        padding-bottom: 3%;
    }

    section{
        text-align: center;
        margin-left: -5%;
        width: 100%;
        padding: 15%;
    }
    section > span{
        font-family: 'Lexend Deca', sans-serif;
        font-weight: 400;
        color: hsla(0, 0%, 100%, 0.6);
        font-size: 50%;
    }
    p{
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        color:hsla(0, 0%, 100%, 0.75);
    }
    h1{
        font-family: 'Lexend Deca', sans-serif;
        font-weight: 700;
        color: hsl(0, 0%, 100%);
        font-size: 200%;

    }
    h2{
        color: hsl(0, 0%, 100%);
        font-family: 'Lexend Deca', sans-serif;
        font-weight: 700;
        font-size: 100%;
    }
    .dados{
        max-width: 50%;
        display: flex;
        flex-direction: row;
        padding: 1%;
    }

    
}